# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-...

# URLs de PRODUCCIÓN (HTTPS - requerido por Mercado Pago)
FRONTEND_URL=https://tu-dominio.vercel.app
BACKEND_URL=https://tu-backend.vercel.app

# Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu-anon-key

#Resend
RESEND_API_KEY=re_4r4NZ2HS_43sL58WZSeY47RLaY8ecUrdX

# Puerto del backend
PORT=3001